@model WebMVCDataAnnotations.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div>
    @using (Html.BeginForm("dologin", "user", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Username:</td>
                <td>
                    @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.UserName)
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                </td>
                <td>
                    @Html.ValidationMessageFor(u => u.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="login" value="Login" class="form-control btn btn-primary" />
                </td>
            </tr>
        </table>
    }
</div>


