@using WebFirstMVC.Models
@model Employee

<div>
    <strong>Employee ID : </strong> @Model.EmpId <br />
    <strong>Name : </strong> @Model.Name <br />
    <strong>Salary : </strong> @Model.Salary.ToString("C") 
</div>